
posterBaseUrl = "https://image.tmdb.org/t/p/w185" // base URL for each poster

<% @showIDs.each do |obj| %> // go through each show, hit tmdb api to fetch json, then display data

  myUrl = "";
  <% if obj.shid != nil then %>
    myUrl = "https://api.themoviedb.org/3/tv/<%= obj.shid %>?language=en-US&api_key=<%= Figaro.env.TMDB_KEY %>";
  <% end %>

  var tvInfoRequest = {"async": true, "crossDomain": true, "url": myUrl, "method": "GET" }
  $.ajax(tvInfoRequest).done(function (response) {

    if (response["name"] != null) {
      posterURL = posterBaseUrl + response["poster_path"];
      $(".show_list").last().append(' \
        <div class="poster-container ' + response["id"] + '">\
          <img class="poster" src="' + posterURL + '"></img> \
          <%= button_to "Info", info_path, remote: true, class: "info btn btn-outline-success btn-sm", "data-toggle": "modal", "data-target": "#showModal"%> \
          <%= button_to "Remove", remove_path, remote: true, class: "remove btn btn-outline-success btn-sm" %> \
        </div>');
    }
  });

<% end %>
