
// prevents caching so results dont load over previously displayed results
document.addEventListener("turbolinks:before-cache", function() {
  $(".all_shows").empty()
})

posterBaseUrl = "https://image.tmdb.org/t/p/w185" // base URL for each poster

<% @showIDs.each do |obj| %> // go through each show, hit tmdb api to fetch json, then display data

  myUrl = "";
  <% if obj.shid != nil then %>
    myUrl = "https://api.themoviedb.org/3/tv/" + <%= obj.shid %> + "?language=en-US&api_key=9316c21a1d598842bf35b43bf3e3c502"
    console.log(myUrl);
  <% end %>

  var tvInfoRequest = {
    "async": true,
    "crossDomain": true,
    "url": myUrl,
    "method": "GET"
  }

  $.ajax(tvInfoRequest).done(function (response) {

    if (response["name"] != null) {
      posterURL = posterBaseUrl + response["poster_path"];
      $(".show_list").last().append(' \
        <div class="poster-container ' + response["id"] + '">\
          <img class="poster" src="' + posterURL + '"></img> \
          <%= button_to "Info", info_path, remote: true, class: "info btn btn-outline-success btn-sm", "data-toggle": "modal", "data-target": "#showModal"%> \
          <%= button_to "Remove", remove_path, remote: true, class: "remove btn btn-outline-success btn-sm" %> \
        </div>');
    }
  });

<% end %>
