<% @showInfo.each do |obj| %>

  var url = "https://api.themoviedb.org/3/tv/<%= obj.shid %>?language=en-US&api_key=9316c21a1d598842bf35b43bf3e3c502";
  var tvInfoRequest = {"async": true, "crossDomain": true, "url": url, "method": "GET" };

  $.ajax(tvInfoRequest).done(function(response){
    var last_show_date = moment(response["last_air_date"], "YYYY-MM-DD"); // a moment
    var current = moment().format('YYYY-MM-DD'); // a string

    // checking if a new season *DATE* has been announced, otherwise ignore
    if (last_show_date.isSameOrAfter(current)){

      url = "https://api.themoviedb.org/3/tv/<%= obj.shid %>/season/" + response["number_of_seasons"] +"?language=en-US&api_key=9316c21a1d598842bf35b43bf3e3c502";
      var seasonInfoRequest = {"async": true, "crossDomain": true, "url": url, "method": "GET"};

      $.ajax(seasonInfoRequest).done(function(show_response){

        show_response["episodes"].forEach(function(ep){ // iterate through each episode

          var show = moment(ep["air_date"], 'YYYY-MM-DD');
          // check if an episode airs in the coming week, and insert into schedule if it does
          var between = show.isBetween(current, moment().add(6, 'days').format('YYYY-MM-DD'), null, '[]');

          // create the show info we want to append beforehand
          var append_info = "\
            <div class='show-item'> \
              <div class='sched-poster'><img src='<%= obj.poster %>'></img></div> \
              <div class='ep-container'> \
                <div class='show-item-name'>" + response["name"] + "</div> \
                <div class='ep-name'>" + ep["name"] + "</div> \
              </div> \
            </div>"

          if(between) { // find out which day of the week the show airs and append data

            // looping 7 times because 7 days - for each day, check if the show date matches and append if so
            for (let i = 0; i < 7; i++) {
              if (show.isSame(moment().add(i, 'days').format('YYYY-MM-DD'))) {
                let day_show = 'day-' + (i+1) + '-shows';
                let day_show_selector = '#' + day_show;
                let day_cont = 'day-' + (i+1) + '-cont';

                document.getElementById(day_cont).style.display = 'inline';

                $(day_show_selector).append(append_info);
                if (document.getElementById(day_show).childElementCount > 1){
                  document.getElementById(day_show).lastChild.style.borderTop = "1px solid white";
                }
              }
            }
          }
        });
      });
    }
  });

<% end %>
