<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Dashboard</title>
  </head>
  <body>
    <div class="main-content dash-container text-center">

      <div class="title-container">
        <div class="title-links-container">
          <div class="title-links">
            <p id="coll-click" class="dashboard"><span>Collection</span></p>
            <p id="sched-click" class="dashboard"><span>Schedule</span></p>
          </div>
          <hr id="slide-hr" />
        </div>
      </div>
      <div class="tab-container">
        <div class="coll-tab">
          <div class="all_shows">
            <% if @showCount < 2 %> <!-- actual show list starts at count 2, thus why < 2 for no shows -->
              <h4>No shows! Add some by clicking here.</h4>
            <% elsif @showCount > 1 %>
              <div id="post-cont-deleg" class="show_list">

              </div>
              <script type="text/javascript">
                <%= render partial: 'display.js'%>
              </script>
            <% end %>
          </div>
        </div>

        <div class="sched-tab">
        </div>
      </div>
    </div>

    <!-- Modal not visible until info button is clicked -->
    <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content info-box">
          <div class="modal-header">
            <div class="show-info col-md-9">
              <!-- 'show_info_modal' partial rendered here when info button is clicked  -->
            </div>
            <!-- <div class="close-button-modal col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
