<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Dashboard</title>
  </head>
  <body>
    <div class="home text-center">
      <h1 class="dashboard">TV Collection</h1><br />
      <div class="all_shows">
        
      </div>
    </div>
  </body>
</html>
