
// the .off prevents an extra event handler from being added every execution...not sure why
$('.button_to').off('ajax:success').on('ajax:success', function() {

  var id = $(this).closest(".poster-container").attr('class').split(" ")[1];

  myUrl = "";
  myUrl = "https://api.themoviedb.org/3/tv/" + id + "?language=en-US&api_key=9316c21a1d598842bf35b43bf3e3c502"

  var tvInfoRequest = {
    "async": true,
    "crossDomain": true,
    "url": myUrl,
    "method": "GET"
  }

  $.ajax(tvInfoRequest).done(function (response) {

    if (response["name"] != null) {

      var genre_list = "";
      var slash = 0;

      // gather all genres and put into the genre_list variable
      response["genres"].forEach(function(item){
        if (slash == 0) {
          genre_list = genre_list + item.name;
          slash = 1;
        }
        else
          genre_list = genre_list + "/" + item.name;
      });

      var date = response["first_air_date"].split("-")[0];

      console.log(genre_list)

      $(".show-info").html(
        '<div class="show-pic"> \
          <img src="https://image.tmdb.org/t/p/w185' + response["poster_path"] + '"></img> \
        </div> \
        <div class="show-desc"> \
          <div class="show-header"> \
            <h3 class="modal-title">' + response["name"] + '</h3> \
            <h4 class="show-date">(' + date + ') </h4> \
          </div> \
          <span class="show-genres">' + genre_list + '</span>\
          <hr class="top-line"></hr> \
          <span class="show-desc">' + response["overview"] + '</span>\
        </div>'
      );
    }
  });

});
