<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Search</title>
  </head>
  <body>
    <div class="main-content query-container text-center">
      <p class="search-title">What ya watchin' currently?</p><br />
      <div class="search-container">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
          <%= form_tag("/search", method: "post", remote: true) do %>
            <%= text_field_tag :show, "", class: 'search_form placeholder form-control',  autocomplete: 'off'%>
          <% end %>
        </div>
      </div>

      <br />
      <div class="search_results">

      </div>
      <div id="added-msg-cont"> <!-- utilzing same conf msg from homepage -->

      </div>
    </div>
  </body>
</html>
