
tvID = 1;
myUrl = "https://api.themoviedb.org/3/search/tv?page=1&language=en-US&api_key=<%= Figaro.env.TMDB_KEY %>&query=" + "<%= @query %>";
posterBaseUrl = "https://image.tmdb.org/t/p/w342" // base URL for each poster

// Ajax request to themoviedb to get list of tv shows
var dbRequest = { "async": true, "crossDomain": true, "url": myUrl, "method": "GET" }

// collects response from moviedb and we can do whatever with the data in here
$.ajax(dbRequest).done(function (response) {
  console.log(response);
  $(".search_results").empty(); // clear results for every search

  tvID = 1;
  $.each(response["results"], function(i, value){ // each value = a tv show array with various info

    if (value["poster_path"] == null) // if no poster, insert generic image instead
      posterURL = "http://i.imgur.com/QOBPp8F.png"
    else // otherwise, get poster
      posterURL = posterBaseUrl + value["poster_path"];

    // each row = a tv show with unique id
    $(".search_results").append(" \
      <div class='show row tv" + tvID +
      " " + value["id"] +
      "'></div><br><hr width='100%'>");
    row = ".tv" + tvID;

    // append the poster
    $(row).append(" \
      <div class='query-poster'> \
        <img src='" + posterURL + "'> \
      </div> \
    ")

    desc = value["overview"].substring(0, 450); // store the first 450 characters of the overview
    if (value["overview"][451])
      desc_upd = desc + "..."; // if there were more than 450 characters, add an ellipsis to the end
    else
      desc_upd = desc; // if less than 450 characters, leave string as is

    // append the name and description (only up to 450 characters to prevent large descriptions)
    $(row).append(' \
      <div class="show-desc results text-left"> \
        <p class="show-name">' + value["name"] + '</p> \
        <div class="show_but"> \
          <div class="add_but"> \
            <%= button_to "Add", add_path, remote: true, class: "add_show btn btn-success btn-sm", "data-toggle": "modal", "data-target": "#insertConf" %> \
          </div> \
          <div class="more_info_but"> \
            <%= button_to "More Info", add_path, remote: true, class: "more_info btn btn-success btn-sm" %> \
          </div> \
        </div> \
        <p>' + desc_upd + '</p> \
      </div> \
    ')

    tvID++;

    if (i > 8) return false; // limit search results to 10
  });

  if (response["results"].length == 0) // if no search results, leave message
    $(".search_results").append("<h4>Sorry, couldn't find any show with that name. Try a simpler search.</h4>");
  else // otherwise, also leave message at bottom of results
    $(".search_results").append("<h5>Not on the list? Searches are limited to 10 results. Try to be more specific.<h5><br>");

});
