<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker - Search</title>
  </head>
  <body>
    <div class="home text-center">
      <p class="search-title">What ya watchin' today?</p><br />
      <div class="search-container">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </span>
          <%= form_tag("/search", method: "post", remote: true) do %>
            <%= text_field_tag :show, "", class: 'search_form placeholder form-control',  autocomplete: 'off'%>
          <% end %>
        </div>
      </div>

      <br />
      <div class="search_results">

      </div>
    </div>

    <!-- Modal not visible until tv show is added to collection -->
    <div class="modal fade" id="insertConf" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="add-conf col-md-9">
              <!-- 'show_added_modal' partial rendered here when tv show is added to collection -->
            </div>
            <div class="close-button-modal col-md-3">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
