<div class="home text-center">
    <h1 class="title">TV Tracker</h1>
    <h5>Never forget the episode you last stopped watching your favourite TV show!</h5>
    <br />
    <button type="button" class="btn btn-warning btn">Log In</button>
</div>
