/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  min-height: 100%;
  position: relative;
  font-size: 100%;
}

body {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3D8CB2 , #314755); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3D8CB2 , #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 0 40px; /* bottom = footer height */
}

/* DEVISE CSS */

.auth-window {
  margin-top: 20vh;
  background-color: white;
}

.sign-up {
  width: 150px;
}

#error_explanation {

  h2 {
    font-size: 17px;
  }
  li {
    font-size: 12px;
  }
}

.alert {
  display: none;
}

/* END DEVISE */

.log_out, .home_button{
  position: absolute;
  top: 5px;

  &.log_out {
    right: 5px;
  }

  &.home_button {
    left: 5px;
  }
}

.header {
  top: 0px;
  height: 60px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

/* START - put spacing outside of the corner links */
.logo {
  padding-top: 10px;
  padding-left: 10px;
}

.log-out-link {
  padding-right: 10px;
}
/* END */

footer {
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow:hidden;
}

.attr-link {

  h4 {
    font-family: 'Open Sans Condensed';
    color: black;
    padding-right: 8px;
  }
}

.main-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.header-links {
  font-size: 1.7rem;
  margin-top: 0px;
  font-family: 'Open Sans Condensed';
  padding-top: 10px;
  color: black;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 100%;
  }
  .main-links {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .main-links {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 70%;
  }
  .main-links {
    width: 100px;
  }
}
