/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  height: 100%;
  position: relative;
  font-size: 100%;
}

body {
  background: linear-gradient(-225deg, #CBBACC, #2580B3) fixed;
  // background: #f0f2f1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  color: #eaeaea;
  flex: 1 0 auto; // allows the main content to take up entire page and leave footer at bottom
}

/* DEVISE CSS */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(asset_path('tvtrack_bg10.jpg'));
  background-size: cover;
  background-position: center;
  height: 100%;

  // for the direct sign-up page since registration isnt open
  #no-reg {
    color: white;
    font-size: 2.5rem;
  }
}

.auth-window {
  background-color: white;
  width: 400px;
  height: 425px;
}

.sign-up {
  width: 150px;
}

#error_explanation {

  h2 {
    font-size: 17px;
  }
  li {
    font-size: 12px;
  }
}

.alert {
  display: none;
}

/* END DEVISE */

.log_out, .home_button{
  position: absolute;
  top: 5px;

  &.log_out {
    right: 5px;
  }

  &.home_button {
    left: 5px;
  }
}

.header {
  height: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  //background-color: #8091b7;
  border-bottom: 1px #dbdbdb solid;
}

.logo {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: auto;
}

footer {
    background-color: #dbdbdb;
    height: 40px;
    order: 3;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 35px;
}

.footer-links {
  font-family: 'Open Sans Condensed';
  color: black;
  padding-right: 35px;
  font-size: 17px;

  p {
    margin-bottom: 0px;
  }
}

.side-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

svg.feather {
  width: 26px;
  height: 26px;
}

.header-links {
  font-size: 1.4rem;
  margin-top: 0px;
  font-family: 'Open Sans Condensed';
  padding-top: 10px;
  padding-right: 20px;
  color: #eaeaea;
}

.about-link {
  padding-right: 35px;
}

a:link {
  text-decoration: none;
}

/* START - Vertically centers modals */
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.close-button-modal {
  text-align: right;
}
/* END */

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media (min-width: 300px) {

  html { // small font size for mobile devices
    font-size: 70%;
  }
  .logo { // increase logo size as width increases
    width: 32px;
  }
  .header { // increase navbar height as width increases
    height: 40px;
  }
  svg.feather {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: 768px) {

  html {
    font-size: 80%;
  }
  .logo {
    width: 35px;
  }
  .header {
    height: 50px;
  }
  svg.feather {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1280px) {

  html { // default font size when width between 1280px and 1680px
    font-size: 100%;
  }
  .logo {
    width: 38px;
  }
  .header {
    height: 60px;
  }
  svg.feather {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 1680px) {

  html {
    font-size: 120%;
  }
  .logo {
    width: 47px;
  }
  .header {
    height: 65px;
  }
  svg.feather {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1920px) {

  html {
    font-size: 130%;
  }
  .logo {
    width: 52px;
  }
  .header {
    height: 70px;
  }
  svg.feather {
    width: 30px;
    height: 30px;
  }

}
