// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 2rem;
  padding-top: 40px;
}

.dash-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 200%;
  transition: margin-left 0.75s;
  -webkit-transition: margin-left 0.75s;
  -moz-transition: margin-left 0.75s;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > hr {
    width: 48%;
    height: 2px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 0%;
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s, width 1s;
    -moz-transition: margin-left 1s, width 1s;
  }
}

.title-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > #coll-click {
    padding-right: 10px;
  }

  > #sched-click {
    padding-left: 10px;
  }

  .dashboard span {
    cursor: pointer;
  }
}

.coll-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.sched-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.all_shows {
  padding-bottom: 100px;
}

.row-space {
  margin-top: 20px;
}

.poster-container {
  position:relative;
  display:inline-block;
  margin: 5px;
  transition: opacity 0.5s;
}

.btn.info, .btn.remove {
  position:absolute;
  background: none;
  border: 2px solid white;
  opacity: 0;
}

.btn.info:hover, .btn.remove:hover {
  color: #D1C3C3;
  border: 2px solid #D1C3C3;
}

.poster {
  width: 170px;
  transition: width 0.8s;
}

.show_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // each animation supports different browsers
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes slidein {
  from { margin-right: -100%; }
  to { margin-right: 0%; }
}

@-webkit-keyframes slidein {
  from { margin-right: -100%; }
  to { margin-right: 0%; }
}

@-moz-keyframes slidein {
  from { margin-right: -100%; }
  to { margin-right: 0%; }
}

.slide-in-act {
  -webkit-animation: slidein 2s;
  -moz-animation: slidein 2s;
  animation: slidein 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-webkit-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-moz-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

/* SHOW MODAL */

.info-box {
  width:700px;
}

.show-info {
  display: flex;
  flex-flow: row;
}

.show-pic {
  margin-right: 10px;
}

.show-desc {
  display: flex;
  flex-direction: column;
}

.show-header {
  display: flex;
  width: 470px;
}

.show-date {
  margin-left: 5px;

}

.show-genres {
  font-size: 12px;
  font-family: 'Raleway';
}

.top-line {
  width: 400px;
  border: 0.5px solid #e6e6e6; //overwrite existing border
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 15px;
}

.show-desc {
  width: 400px;
  font-family: 'Raleway';
}

/* SCHEDULE TAB */

.sched-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
  border: 1px solid white;
  margin: 25px 0 25px 0;
}

.day-cont {
  width: 100%;
}

.day-dates {
  width: 100%;
  background-color: #ccced1;
  font-weight: bold;
  font-size: 14px;
  color: #272828;
}

.day-shows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e6e6e6;
  min-height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.show-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid white;
}

.ep-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > .ep-name {
    font-weight: normal;
  }
}

.sched-poster {
  width: 60px;
  padding-right: 10px;

  > img {
    max-height: auto;
    max-width: 100%;
  }
}

/* END */

@media (min-width: 400px) {

  .poster {
    width: 80px;
  }

  .poster-container:hover { // only hover

    .poster {
      filter: brightness(30%);
      -webkit-filter: brightness(30%);
    }

    .btn.info, .btn.remove {
      opacity: 1;
    }
  }

  .btn.info {
    bottom:55%;
    right:25%;
    width:50%;
    height:18px;
    font-size: 8px;
    padding-top: 0px;
  }

  .btn.remove {
    bottom:30%;
    right:25%;
    width:50%;
    height:18px;
    font-size: 8px;
    padding-top: 0px;
    padding-left: 3px;
  }

  .sched-container {
    width: 380px;
  }

}

@media (min-width: 768px) {

  .poster {
    width: 140px;
  }

  .btn.info {
    bottom:55%;
    right:25%;
    width:50%;
    height:30px;
    font-size: 11px;
    padding-top: 5px;
  }

  .btn.remove {
    bottom:30%;
    right:25%;
    width:50%;
    height:30px;
    font-size: 11px;
    padding-top: 5px;
    padding-left: 10px;
  }

  .sched-container {
    width: 420px;
  }

}

@media (min-width: 1280px) {

  .poster {
    width: 170px;
  }

  .btn.info {
    bottom:55%;
    right:25%;
    width:50%;
    height:30px;
    font-size: 12px;
  }

  .btn.remove {
    bottom:30%;
    right:25%;
    width:50%;
    height:30px;
    font-size: 12px;
  }

  .sched-container {
    width: 450px;
  }

}

@media (min-width: 1680px) {


}

@media (min-width: 1920px) {



}
