// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {
  font-family: 'Raleway';
  font-weight: bold;
  padding-top: 40px;
}

.all_shows {
  padding-bottom: 40px;
}

.row-space {
  margin-top: 20px;
}

.poster-container {
  position:relative;
  display:inline-block;
}

.btn.info {
  position:absolute;
  bottom:55%;
  right:25%;
  width:80px;
  height:30px;
  background: none;
  border: 2px solid white;
  opacity: 0;
}

.btn.remove {
  position:absolute;
  bottom:30%;
  right:25%;
  width:80px;
  height:30px;
  background: none;
  border: 2px solid white;
  opacity: 0;
}

.btn.info:hover, .btn.remove:hover {
  color: #D1C3C3;
  border: 2px solid #D1C3C3;
}

.poster-container:hover {

  .poster {
    filter: brightness(30%);
  }

  .btn.info, .btn.remove {
    opacity: 1;
  }

}

.poster {
  width: 165px;
}
