// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 2rem;
  padding-top: 40px;
}

.dash-container {
  display: flex;
  justify-content: space-between;
}

.left-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}

.right-display {
  display: flex;
  justify-content: center;
  width: 29%;
  border-left: 1px #a8a6a6 solid;
}

.all_shows {
  padding-bottom: 100px;
}

.row-space {
  margin-top: 20px;
}

.poster-container {
  position:relative;
  display:inline-block;
  margin: 5px;
}

.btn.info {
  position:absolute;
  bottom:55%;
  right:28%;
  width:80px;
  height:30px;
  background: none;
  border: 2px solid white;
  opacity: 0;
}

.btn.remove {
  position:absolute;
  bottom:30%;
  right:28%;
  width:80px;
  height:30px;
  background: none;
  border: 2px solid white;
  opacity: 0;
}

.btn.info:hover, .btn.remove:hover {
  color: #D1C3C3;
  border: 2px solid #D1C3C3;
}

.poster-container:hover {

  .poster {
    filter: brightness(30%);
    -webkit-filter: brightness(30%); // for safari
  }

  .btn.info, .btn.remove {
    opacity: 1;
  }

}

.poster {
  width: 185px;
  transition: width 0.8s;
}

.slide-out {
  width: 0px;
}

.disappear {
  opacity: 0;
}

.show_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // each animation supports different browsers
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  animation: fadein 2s;
}



@keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-webkit-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-moz-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

/* SHOW MODAL */

.info-box {
  width:700px;
}

.show-info {
  display: flex;
  flex-flow: row;
}

.show-pic {
  margin-right: 10px;
}

.show-desc {
  display: flex;
  flex-direction: column;
}

.show-header {
  display: flex;
  width: 470px;
}

.show-date {
  margin-left: 5px;

}

.show-genres {
  font-size: 12px;
  font-family: 'Raleway';
}

.top-line {
  width: 400px;
  border: 0.5px solid #e6e6e6; //overwrite existing border
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 15px;
}

.show-desc {
  width: 400px;
  font-family: 'Raleway';
}

/* SHOW MODAL END */
