// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.query-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

.results h2 {
  margin-top: 2px;
}

.search-title {
  font-size: 2.2rem;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
}

.query-poster {

  > img {
    width: 150px;
  }
}

/* START - For the search bar */
.search-container {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 500px;
}
/* END */

/* For the results */
.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.show.row { // each animation supports different browsers
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  animation: fadein 2s;

  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 600px; // using fixed width for each show result instead of %s
}

.show-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%; // takes up 65% of the total width (600px from above), which is 390px

  p { // didnt use rem because I had specific preference
    font-size: 14px;
  }
}

.show-name {
  font-size: 1.6rem !important;
  margin: 0;
}

.show_but {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2px;
  padding-bottom: 2px;
}

.add_but {
  margin-right: 5px;
}


@keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-webkit-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-moz-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN  */

@media (min-width: 400px) {

  .input-group {
    width: 350px;
  }

  .query-poster > img {
    width: 100px;
  }

  .show.row {
    width: 400px;
  }

  .show-desc p {
    font-size: 12px;
  }

  .add_show, .more_info {
    height: 20px;
    padding: 1px 5px !important;
  }

}

@media (min-width: 768px) {

  .input-group {
    width: 450px;
  }

  .query-poster > img {
    width: 150px;
  }

  .show.row {
    width: 600px;
  }

  .show-desc p {
    font-size: 14px;
  }

  .add_show, .more_info {
    height: 32px;
    padding: 5px 10px;
  }

}

@media (min-width: 1280px) {

  .input-group {
    width: 500px;
  }

  .show.row {
    width: 600px;
  }

}

@media (min-width: 1680px) {



}

@media (min-width: 1920px) {



}
