// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.query-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

.results h2 {
  margin-top: 2px;
}

.search-title {
  font-size: 2.2rem;
  font-family: 'Open Sans Condensed';
  font-weight: bold;
}

/* START - For the search bar */
.search-container {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 500px;
}
/* END */

/* For the results */
.search_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.show.row { // each animation supports different browsers
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  animation: fadein 2s;

  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

.show-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.show_but {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.add_but {
  margin-right: 5px;
}

/* END */

@keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-webkit-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

@-moz-keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}


/*
  Next 3 rule-sets used to center the modal vertically
  Code taken from: http://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center
 */

.modal {
  text-align: center;
}

/* START - responsive design for smaller screens */
@media (max-width: 1280px) {

  .input-group { // drop width of search bar as window gets smaller
    width: 500px;
  }

}

@media (max-width: 768px) {

  .input-group {
    width: 450px;
  }

}

@media (max-width: 480px) {

  .input-group {
    width: 350px;
  }

}

/* END */

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/****** END ******/

.close-button-modal {
  text-align: right;
}
