// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome { // Puts the title "where to go" and 3-jumbotron container vertically and in the center
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 0px 0px 25px;
  position: relative;
  margin-bottom: 35px;
}

.bg-splash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f3f4;
}

.bg-container {
  position: relative;
  margin: 0;
  width: 100%;

  .bg-image {
    width:100%;
  }
}

.bg-overlay {
  position: absolute;
  z-index: 10;
  top: 31%;
  left: 10%;
  text-align: left;

  .title {
    font-size: 3rem;
    text-align: left;
    margin: 0;
  }

  p {
    font-size: 1.4rem;
  }
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 20px 40px 20px;
  font-family: "Quicksand", sans-serif;

  div { // first child - description
    width: 50%;
    padding: 1%;

    p {
      color: #373738;
    }

    #title {
      font-size: 2.7rem;
    }

    #info {
      font-size: 1rem;

    }
  }

  div img { // second child - the image
    width: 100%;
    height: auto;
  }
}

#sec-one {
  background-color: #f2f3f4;
}

#sec-two {
  background-color: #e5e5e5;
}

#sec-three {
  background-color: #f2f3f4;

  div img { // second child - the image
    width: 50%;
    height: auto;
  }
}

.heading {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 0px;
}

.home-subsections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 25px;

  div > img {
    max-width: 100%;
  }
}

.main-display {
  width: 31.2%;
}

.small-display {
  width: 12%;
}

.discover-item {
  padding-right: 0.5%;
  position: relative;
  cursor: pointer;
}

.discover-item:hover {
  img {
    filter: brightness(30%);
    -webkit-filter: brightness(30%);
  }

  #text-cont #add-show {
    opacity: 1;
  }
}

#text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 95%;
  height: 97%;
  pointer-events: none;

  #add-show {
    opacity: 0;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
  }
}

#sh-name {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  margin: 5px 0px 0px 5px;
  padding: 2px 2px 2px 2px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1px;
}

#added-msg-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;

  p {
    font-size: 1.75rem;
    font-family: "Quicksand", sans-serif;
    background-color: #efefef;
    color: #212121;
    opacity: 0;
    padding: 3px;
    pointer-events: none;
    border-radius: 3px;
    -webkit-animation: fadeinout 3s;
    -moz-animation: fadeinout 3s;
    animation: fadeinout 3s;
  }
}

#suggested {
  margin-bottom: 25px;
}

#randomized-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

#randomized {
  width: 58%;
  padding-top: 5px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

#show-divider {
  align-items: stretch;
  border-left: 1px solid white;
  margin: 0px 25px 0px 15px;
}

#suggested-cont {
  width: 75%;
}

#suggested-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 5px;

  div > img {
    max-width: 100%;
  }
}

.recco-display {
  width: 16%;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.input-group {
  color: grey;
}

.home_but {
  margin-top: 5px;

  &.right {
    margin-left: 5px;
  }
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media (min-width: 300px) {

  .bg-overlay {
    position: absolute;
    z-index: 10;
    top: 31%;
    left: 10%;
    text-align: left;

    .title {
      font-size: 2rem;
      text-align: left;
      margin: 0;
    }

    p {
      font-size: 1rem;
    }
  }

  .home_but {
    padding: 1px 3px !important;
    font-size: 8px !important;
  }

  .section-container {
    flex-direction: column;
    justify-content: flex-start;

    div {
      width: 85%;
    }
  }

  #sec-two {
    flex-direction: column-reverse;
  }

  #text-cont #add-show {
    font-size: 1rem;
  }

  #sh-name {
    font-size: 0.6rem;
  }

  #added-msg-cont p {
    font-size: 1.25rem;
  }

  .welcome {
    padding: 5px 0px 0px 5px;
  }

  .heading {
    font-size: 0.8rem;
  }
}

@media (min-width: 600px) { // included for the "add" text since I needed middle ground b/w the 2 queries

  #text-cont #add-show  {
    font-size: 1.5rem;
  }

  #sh-name {
    font-size: 1rem;
  }

  .heading {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {

  .bg-overlay {
    position: absolute;
    z-index: 10;
    top: 31%;
    left: 10%;
    text-align: left;

    .title {
      font-size: 3rem;
      text-align: left;
      margin: 0;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .home_but {
    padding: 6px 12px !important;
    font-size: 14px !important;
  }

  .section-container {
    flex-direction: row;
    justify-content: center;

    div {
      width: 50%;
    }
  }

  #sec-two {
    flex-direction: row;
  }

  #sh-name {
    font-size: 1.2rem;
  }

  #added-msg-cont p {
    font-size: 1.75rem;
  }

  .welcome {
    padding: 25px 0px 0px 25px;
  }

  .heading {
      font-size: 1.4rem;
  }

}

@media (min-width: 1280px) {

  .home_but {
    padding: 6px 12px !important;
    font-size: 20px !important;
  }

  .heading {
      font-size: 1.7rem;
  }
}

@media (min-width: 1680px) {

  #sh-name {
    font-size: 1.7rem;
  }

}

@media (min-width: 1920px) {

}
