// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  color: white;
  flex: 1 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.dash {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 2.5rem;
}

.input-group {
  color: grey;
}

.home_but {
  margin-top: 5px;

  &.right {
    margin-left: 5px;
  }
}

.show_search {
  margin-top: 10px;
}

.placeholder {
  font-style: italic;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxes > .container {

  margin-left: 0px;
  margin-right: 0px;

  > a:link { // removes underline when hovering over text link
    text-decoration: none;
  }
}

.jumbotron {
  background-color: #f2f2f2;
  padding: 0px;
  height: 125px;
  display: flex;
  align-items: center; // horizontal align
  justify-content: center; // vertical align
  > p {
    color: black;
    margin-top: 0px;
    margin-bottom: 5px !important; // was leaving 15px margin, so had to force change
    font-family: 'Open Sans Condensed';
  }
}

.jumbotron:hover {
  background-color: #e6e6e6; // slightly darker
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media (min-width: 400px) {

  .boxes { // when we're at tablet/phone sizes we change flex to display boxes vertically
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .jumbotron { // reduce size of the 3 jumbotrons
    height: 100px;
    padding-left: 3px !important; // prevents line breaks using p tag
    padding-right: 3px !important;
  }

  .container { // ensures the container doesn't stretch to fill viewport
    max-width: 150px;
    min-width: 150px;
  }
}

@media (min-width: 768px) {

  .boxes { // when we're at tablet/phone sizes we change flex to display boxes vertically
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
}

@media (min-width: 1280px) {

  .container { // ensures the container doesn't stretch to fill viewport
    max-width: 200px;
    min-width: 200px;
  }
}

@media (min-width: 1680px) {

  .jumbotron {
    height: 115px;
  }

  .container { // ensures the container doesn't stretch to fill viewport
    max-width: 225px;
    min-width: 225px;
  }
}

@media (min-width: 1920px) {

  .jumbotron {
    height: 125px;
  }

  .container { // ensures the container doesn't stretch to fill viewport
    max-width: 250px;
    min-width: 250px;
  }
}
