<!DOCTYPE html>
<html>
  <head>
    <title>TV Tracker</title>
  </head>
  <body>
    <div class="home text-center">
      <div class="row">
        <div class="col-md-6">
          <h2>General Info</h2>
        </div>
        <div class="col-md-6">
          <h2>Attributions</h2>
          <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
      </div>
    </div>
  </body>
</html>
